<!DOCTYPE html>
<html>
<head>
    <title>House Rent Dashboard</title>
</head>
<body>

<h1>House Rent Dashboard</h1>

<form action="/add_listing" method="POST">

    <input
        name="address"
        placeholder="Address">

    <br><br>

    <input
        name="city"
        placeholder="City">

    <br><br>

    <input
        name="state"
        placeholder="State">

    <br><br>

    <input
        name="zip_code"
        placeholder="Zip Code">

    <br><br>

    <input
        name="price"
        placeholder="Monthly Rent">

    <br><br>

    <button type="submit">
        Add Listing
    </button>

</form>

<br>

<a href="/listings">
    View Listings
</a>

</body>
</html>